.ipynb_checkpoints/
.venv/
.ipy*
__py*
.DS_Store
dev/logs/*
dev/data/*
.vscode
data/*

sagemaker/training_job_definition.json
step_function/state_machine_definition.json
terraform/base/terraform.tfvars
terraform/service/terraform.tfvars